body{
  overflow: hidden;
}
.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  .home_content_main,
  .home_content_min {
    margin-top: 1rem;
    text-align: center;
  }
  .home_content_main {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .home_content_min {
    font-size: 1.3rem;
    font-weight: 100;
    color: grey;
  }
}

.home_play_icon{
    position: absolute;
    bottom: -40px;
    right: -40px;
    color: #1E1E1E;
    font-size: 15rem;
}
