.search{
    display: flex;
    justify-content: center;
    align-items: center;

    
    .search_icon{
        color: #FF2020;
        font-size: 2.5rem;
        margin-right: 0.5rem;
    }
    input{
        font-size: 1.05rem;
        width: 400px;
        outline: none;
        border: 1px solid white;
        color: white;
        border-radius: 25px;
        padding: 8px 10px;
        background-color: #101010;
    }

    .search_button{
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        background-color: #FF2020;
        color: white;
        padding: 12px 10px;
        border-radius: 25px;
        margin-left: 1rem;
        &:active{
            scale: 0.98;
        }
    }
}